.gradle/
**/build/
**/.cxx/
local.properties
*.hprof
.kotlin/
__pycache__/
*.pyc
# Generated controlled CI media (created by the fixture script).
app/src/androidTest/assets/video/ocr-frame.mp4.base64
app/src/androidTest/assets/video/mux-audio.m4a.base64
